body{
    background-image: url(../images/bg_Argyle.jpg);
}

.recipe{
    text-align: center;
}

 .list {
    list-style-type: circle;
    
} 

img.example{
    margin: auto;
    border:double 10px #ff0000;
    /* outline: 5px solid red; */
    /* outline-offset: 5px; */
    display: block;
    
}

caption{
    color:#ff0000;
}

table{
    border-color: #ff0000;
    background-color: antiquewhite;
}

.onepoint{
    display: flex;
}